{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="mt-1">
    <h1>Welcome!</h1>
  </div>
  <p class="lead">
    this app will build you an ultimate playlist that is filled with songs that
    you and a friend have in common.
  </p>
  <div class="mt-1">
    <h1>first:</h1>
  </div>
  <a type="button" class="btn btn-default" href="/auth1">login</a>

  <p class="lead">
    then, a link will be created for you to send to your friend.
  </p>

  <!-- <a type="button" class="btn btn-default" href="/auth">login</a>

  <div class="mt-1">
    <h1>create playlist</h1>
  </div>

  <a type="button" class="btn btn-default" href="/create_playlist"
    >press here!!</a
  > -->
</div>
{% endblock %}
