{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="mt-1">
    <h1>{{display_name}} wants to see what songs you guys have in common!</h1>
  </div>
  <p class="lead">
    once you login, a playlist that is the ultimate representation of your
    friendship will be created. THIS IS BETTER THAN SPOTIFY BLEND!
  </p>

  <a type="button" class="btn btn-default" href="/auth2?id=" +{{db_id}}
    >login</a
  >

  <p class="lead">please be patient :)</p>
</div>
{% endblock %}
